footer.footer
  .container
    h2.sr-only 푸터
    ul
      li.primary-color
        a(href="#n") 개인정보처리방침
      li
        a(href="#n") 저작권정책
      li
        a(href="#n") 이메일주소무단수집거부
      li
        a(href="#n") 웹접근성정책
      li
        a(href="#n") 뷰어 다운로드
      li
        a(href="#n") 원격지원
      li
        a(href="#n") 오류신고
      li
        a(href="#n") 배너사이트
      li
        a(href="#n") 사이트맵
      li
        a(href="#n") 찾아오시는길
    p.address 경기도 고양시 덕양구 고양시청로10 (우) 10460
    p.copyright Copyright 2021 GOYANGCITY. All rights reserved.