meta(charset='UTF-8')
meta(http-equiv='X-UA-Compatible' content='IE=edge')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='keywords' content='고양시청 클론')
meta(name='description' content='고양시청 클론페이지입니다.')
<link rel="shortcut icon" href="favicon.ico" />
link(rel='shortcut icon' href='favicon.ico')

block page-title
  title= pageTitle

// PreLoad
<link rel="preload" href="images/common/bubble.png" as="image" />
// CSS
link(rel='stylesheet' href='css/slick.css')
link(rel='stylesheet' href='css/slick-theme.css')
link(rel='stylesheet' href='css/style.css')
// Jquery
script(src='js/lib/jquery-3.5.1.min.js')
// JS
script(src='js/lib/slick.min.js')
script(src='js/lib/html5shiv.min.js')
script(src='js/main.js')
