include _setting

block config
doctype html
html(lang="ko")
  head
    include _head
  body
    #wrapper(class=pageSort)
      // 바로가기 
      .skip-nav
        a(href="#start") 본문내용 바로가기
        a(href="#main-nav") 메인메뉴 바로가기
      
      // 헤더 
      if pageSort == "main"
        include _header
      else if pageSort == "sub"
        include _header
        include _sub-top

      // 메인 
      main
        if pageSort == "sub"
          // 컨텐트 
          .content
            //- 서브 타이틀
            .sub-title
              h3.title= subTitle
              p.desc= subDesc
            block content
        else if pageSort == "main"
          .content
            block content
          
      // 푸터 
      include _footer