-
  var menu =
  {
    dp1:[
      {name:"시민소통", href:"citizen.html", class:"citizen",
        dp2:[
          {name:"시민의 소리", href:"#",
            dp3:[
              {name:"자유게시판",href:"citizen-board.html"},
              {name:"칭찬합니다",href:"citizen-compliment.html"},
              {name:"제안합니다",href:"citizen-offer.html"},
              {name:"주민참여예산",href:"citizen-budget.html"},
              {name:"소셜미디어",href:"citizen-sns.html"},
            ]          
          },
          {name:"열린시장실", href:"http://www.goyang.go.kr/mayor/index.do",
            dp3:[
              {name:"열린시장실",href:"http://www.goyang.go.kr/mayor/index.do"},
            ]          
          },
          {name:"주부시정모니터", href:"citizen-monitor.html",
            dp3:[
              {name:"주부시정모니터란",href:"citizen-monitor.html"},
              {name:"모니터공지사항",href:"citizen-notice.html"},
            ]          
          },
          {name:"주부시정모니터", href:"citizen-monitor.html",
            dp3:[
              {name:"주부시정모니터란",href:"citizen-monitor.html"},
              {name:"모니터공지사항",href:"citizen-notice.html"},
            ]          
          },
          {name:"주부시정모니터", href:"citizen-monitor.html",
            dp3:[
              {name:"주부시정모니터란",href:"citizen-monitor.html"},
              {name:"모니터공지사항",href:"citizen-notice.html"},
            ]          
          },
          {name:"주부시정모니터", href:"citizen-monitor.html",
            dp3:[
              {name:"주부시정모니터란",href:"citizen-monitor.html"},
              {name:"모니터공지사항",href:"citizen-notice.html"},
            ]          
          },
          {name:"주부시정모니터", href:"citizen-monitor.html",
            dp3:[
              {name:"주부시정모니터란",href:"citizen-monitor.html"},
              {name:"모니터공지사항",href:"citizen-notice.html"},
            ]          
          },
          {name:"주부시정모니터", href:"citizen-monitor.html",
            dp3:[
              {name:"주부시정모니터란",href:"citizen-monitor.html"},
              {name:"모니터공지사항",href:"citizen-notice.html"},
            ]          
          },
        ]
      },
      {name:"전자민원", href:"complaint.html", class:"complaint",
        dp2:[
          {name:"종합민원안내", href:"complaint-info.html",
            dp3:[
              {name:"민원콜센터",href:"complaint-call.html"},
              {name:"어디서나민원",href:"complaint-where.html"},
              {name:"행정정보공동이용안내",href:"complaint-guide.html"}
            ]          
          }
        ]
      },
      {name:"생활정보", href:"living.html", class:"living",
        dp2:[
          {name:"재난·안전", href:"living-security.html",
            dp3:[
              {name:"안보위기시국민행동요령",href:"living-security-guide.html"},
              {name:"재난대비 국민행동요령",href:"living-disaster-guide.html"},
              {name:"안전교육 소개",href:"living-safety-education.html"},
            ]          
          }
        ]
      },
      {name:"열린시정", href:"rectify.html", class:"rectify",
        dp2:[
          {name:"고양소식", href:"rectify-news.html",
            dp3:[
              {name:"새소식",href:"rectify-new-news.html"},
              {name:"고양이 확 바뀐다!",href:"rectify-change.html"},
              {name:"보도자료",href:"rectify-press.html"},
            ]          
          }
        ]
      },
      {name:"늘푸른고양", href:"fresh.html", class:"fresh",
        dp2:[
          {name:"고양소개", href:"fresh-introduce.html",
            dp3:[
              {name:"고양현황",href:"fresh-state.html"},
              {name:"어린이현장학습",href:"fresh-kids.html"},
            ]          
          }
        ]
      },
    ]
  }